:root {
    /* ## Colors */

    /* ### Primary */

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* ### Neutral */

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

}

body {
    margin: 0;
    padding: 0;

    font-family: "League Spartan", sans-serif;
    font-style: normal;
}

.container {
    padding: 30px 20px;
}

.header {
    text-align: center;
}

.header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .title h1 {
    color: var(--Very-Dark-Magenta);
    font-weight: 800;
    width: 260px;
    font-size: 2.5rem;
}

.header .title p {
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    line-height: 23px;
}

.header .group-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    row-gap: 10px;

}

.header .group-card .card {
    background-color: hsl(336, 71%, 97%);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.header .group-card .card .group-star {
    padding-bottom: 13px;
}

.header .group-card .card span {
    color: var(--Very-Dark-Magenta);
    font-weight: 800;
}

.group-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.group-card .card {
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    padding: 25px;
    border-radius: 10px;
}

.group-card .card .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-card .card .card-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.group-card .card .card-header .group {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.group-card .card .card-header .group .name {
    padding-bottom: 5px;
    font-weight: 600;
}

.group-card .card .card-header .group .verified {
    color: var(--Soft-Pink);
}

.group-card .card .card-body {
    margin-top: 25px;
}

.group-card .card .card-body p {
    line-height: 25px;
}


@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }

    .header {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        text-align: start;
        margin-bottom: 40px;
    }

    .header .title {
        width: 50%;
        align-items: start;
    }

    .header .title h1 {
        font-size: 3rem;
        width: 320px;
    }

    .header .title p {
        font-size: 1.4rem;
        width: 550px;
    }

    .header .group-card {
        width: 50%;
    }

    .header .group-card .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 340px;
    }

    .header .group-card .card.first {
        height: 20px;
    }

    .header .group-card .card.second {
        height: 20px;
        margin-top: 5px;
        margin-left: 40px;
    }

    .header .group-card .card.third {
        height: 20px;
        margin-top: 5px;
        margin-left: 80px;
    }

    .header .group-card .card .group-star {
        padding: 0;
    }

    .header .group-card .card span {
        padding-left: 20px;
    }

    .group-card .card.first,
    .group-card .card.second,
    .group-card .card.third {
        height: 180px;
    }

    .card.fist {
        /* height: 300px; */
    }

    .card.second {
        margin-top: 20px;
    }

    .card.third {
        margin-top: 40px;
    }

    /* GROUP CARD */

    .group-card {
        flex-direction: row;
        column-gap: 20px;
    }
}